<%- include('common/head.ejs') %>

<%- include('components/name.ejs') %>
<main>
<%- include('components/exercise.ejs') %>
<%- include('components/consoles.ejs') %>
<%- include('components/status-overlay.ejs') %>
</main>
<%- include('common/foot.ejs') %>